<footer class="bg-white pb-0.5">
    <section id="footer" class="flex  flex-col bg-blue-900 p-8">
        <h1 class=" text-white text-center my-4 font-semibold">Made by shivansh mishra.</h1>
        <span class=" text-white flex justify-center items-center gap-3  my-4 "> Using the<img
                src="./public/img/TMDB.svg" class="w-1/6" alt="TMDB (The movie database)" />API.</span>
        <pb class="text-xs text-white my-4 text-center">This product uses the TMDB API but is not endorsed or
            certified by TMDB.</p>
    </section>
</footer>